.topproducts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0px 0px 0px;
}

.pageseparator-img {
  width: 250px;
  margin-bottom: 3px;
}
.card-body p {
  color: red;
  font-weight: 600;
}

.row-cols-1 {
  margin-top: 3px;
  display: flex;
  
  justify-content: center; 
  align-items: center;
}

.card {
  border: none;
  text-align: center;
}
.card-title {
  color: rgb(73, 72, 72);
  font-weight: 400;
}

.card-img-top {
  transition: transform 1.5s;
}
.card-title:hover {
  color: red;
}

.card-img-top:hover {
  transform: scale(1.1);
}



@media only screen and (max-width: 700px) {
  
  .topproducts-container{
    padding: 10px 0px 0px 85px;
  }
  .topproductsimg-container{
    padding: 10px 0px 0px 16px;
  }

}
